body {
  background-color: rgb(113, 113, 113);
  margin: 30px;
  color: white;
}
a {
  margin: 10px;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}
li {
  margin: 10px 0;
}
ul {
  list-style-type: none;
}
ol {
  padding: 0;
}
div {
  margin: 10px 0;
}
h2 {
  display: flex;
  justify-content: space-evenly;
}
header {
  background-color: rgb(34, 34, 34);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.square {
  width: 45px;
  height: 45px;
  background-color: rgb(255, 192, 255);
  border-color: rgba(255, 255, 0, 0.518);
  color: rgb(92, 92, 92);
}
.square:active {
  background-color: rgba(255, 255, 0, 0.518);
}
.board-row {
  display: flex;
}
.winning {
  background-color: rgba(255, 255, 0, 0.518);
}
.Appmain {
  display: flex;
  justify-content: space-around;
}
.list {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 20px;
  min-width: 250px;
  min-height: 600px;
}
button {
  border: 0.5px solid rgb(34, 34, 34);
  border-radius: 10px;
  color: rgb(92, 92, 92);
  background-color: rgb(212, 191, 233);
  margin: 10px;
}
button:hover {
  cursor: pointer;
  background-color: transparent;
  color: rgb(212, 191, 233);
}
input {
  margin: 15px 0;
  border: 0.5px solid rgb(34, 34, 34);
  border-radius: 5px;
  color: rgb(92, 92, 92);
  background-color: rgb(212, 191, 233);
}
.todo {
  display: flex;
  flex-direction: column;
}
.HooksBtn {
  margin: 10px;
  width: 150px;
  height: 23px;
}
.break {
  text-align: center;
}
.Hooks {
  display: flex;
  justify-content: space-evenly;
}
.ReducerHook {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.RefBtn {
  margin: 10px;
}
.useMemoDiv {
  max-height: 100px;
}
.h5ReactMemo {
  margin-top: 65px;
  margin-left: 20px;
}
.customhook {
  margin: 40px 45px;
  display: flex;
  flex-direction: column;
}
.checkbox {
  margin: 0 10px;
}
.select {
  max-width: 150px;
  margin: 10px;
  border: 0.5px solid rgb(34, 34, 34);
  border-radius: 5px;
  color: rgb(92, 92, 92);
  background-color: rgb(212, 191, 233);
}
label {
  padding: 10px;
}
.Appheader {
  padding: 20px;
}
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modalContent {
  background: rgb(92, 92, 92);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todoDiv {
  max-width: 300px;
}
.activeLink {
  color: rgb(212, 191, 233);
}
.navLink {
  color: white;
}
