body {
  background-color: rgb(255, 225, 127);
  margin: 30px;
  color: rgb(92, 92, 92);
}
ol {
  padding: 0;
}
h2 {
  display: flex;
  justify-content: space-evenly;
}
.square {
  width: 45px;
  height: 45px;
  background-color: rgb(255, 192, 255);
  border-color: rgba(255, 255, 0, 0.518);
  color: rgb(92, 92, 92);
}
.square:active {
  background-color: rgba(255, 255, 0, 0.518);
}
.board-row {
  display: flex;
}
.winning {
  background-color: rgba(255, 255, 0, 0.518);
}
.App-header {
  display: flex;
  justify-content: space-around;
}
.list {
  display: flex;
  flex-direction: column;
}
button {
  border-radius: 10px;
  color: rgb(92, 92, 92);
  background-color: transparent;
  margin: 0 10px;
}
button:hover {
  cursor: pointer;
  background-color: grey;
  color: rgba(255, 255, 0, 0.518);
}
input {
  margin: 15px 0;
}
