body {
  background-color: rgb(255, 225, 127);
  margin: 30px;
  color: rgb(92, 92, 92);
}
li {
  margin: 10px 0;
}
ol {
  padding: 0;
}
h2 {
  display: flex;
  justify-content: space-evenly;
}
.square {
  width: 45px;
  height: 45px;
  background-color: rgb(255, 192, 255);
  border-color: rgba(255, 255, 0, 0.518);
  color: rgb(92, 92, 92);
}
.square:active {
  background-color: rgba(255, 255, 0, 0.518);
}
.board-row {
  display: flex;
}
.winning {
  background-color: rgba(255, 255, 0, 0.518);
}
.Appheader {
  display: flex;
  justify-content: space-around;
}
.list {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 20px;
}
button {
  border-radius: 10px;
  color: rgb(92, 92, 92);
  background-color: transparent;
  margin: 0 10px;
}
button:hover {
  cursor: pointer;
  background-color: grey;
  color: rgba(255, 255, 0, 0.518);
}
input {
  margin: 15px 0;
  border-radius: 5px;
  background-color: rgb(212, 191, 233);
}
.todo {
  display: flex;
  flex-direction: column;
}
.HooksBtn {
  margin: 10px;
  width: 150px;
  height: 23px;
}
.break {
  text-align: center;
}
.Hooks {
  display: flex;
  justify-content: space-evenly;
}
.ReducerHook {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.RefBtn {
  margin: 10px;
}
.useMemoDiv {
  max-height: 100px;
}
.h5ReactMemo {
  margin-top: 65px;
  margin-left: 20px;
}
.customhook {
  margin: 40px 45px;
  display: flex;
  flex-direction: column;
}
.checkbox {
  margin: 10px;
}
.select {
  max-width: 150px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(212, 191, 233);
}
label {
  padding: 10px;
}
